body {
  background: #303030;
}

#app {
  min-width: 500px !important;
  min-height: 600px !important;
}

.selected-tab {
  background: #424242;
  opacity: 1 !important;
}

.tabs__slider {
  display: none;
}

.orders-table * {
  background: #303030 !important;
}
