body {
  background: #303030;
}

#app {
  min-width: 500px !important;
  min-height: 600px !important;
}

[v-cloak] {
  display: none;
}

.selected-tab {
  background: #424242;
  opacity: 1 !important;
}

.tabs__slider {
  display: none;
}

.orders-table * {
  background: #303030 !important;
}

/* Exchange avatars */
.avatar--tile.exchAvatar {
  width: 85px !important;
  margin: 0 8px 0 -2px !important;
}

.exchAvatar > .avatar--tile {
  margin-right: 18px !important;
  height: 25px !important;
  width: 85px !important;
}

img.exchLogo {
  border-radius: 24px !important;
  height: 25px !important;
  width: 85px !important;
}
